      <!-- Sección principal de la página -->
    <main>
      <!--<h1>🎅Mis Productos🎅</h1>-->
      <p1><font SIZE=6>🎅Mis Productos🎅</font></p1>
      <ul>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
      </ul>
    </main>
  </body>
</html>
